#header {
    background-color: #f2cad8;
    width: 100%;

    >.header {
        height: 80px;   
        display: flex;
        justify-content: space-between;
        align-items: center;

        >.logo {
            text-decoration: none;
            >h1 {
                color: white;
                background-color: black;
                font-family: 'Playfair Display', serif;
                transform: rotate(-5deg);
                padding: 5px 15px;
                margin: 0 0 0 10px;
            }
        }

        .mobile-nav {
            background-color: #f2cad8;
            border: none;
            cursor: pointer;
            
            @media (min-width: 801px) {
                display: none;
            }
        }
    }
}