#header {
    background-color: #f2cad8;
    width: 100%;

    >.header {
        height: 80px;   
        display: flex;
        justify-content: space-between;
        align-items: center;

        >.logo {
            text-decoration: none;
            >h1 {
                color: white;
                background-color: black;
                font-family: 'Playfair Display', serif;
                transform: rotate(-5deg);
                padding: 5px 15px;
                margin: 0 0 0 10px;
            }
        }

        >.socials {
            @media (max-width: 800px) {
                display: none;
            }
            >a {
                
                &:hover {
                    opacity: 0.5;
                }
                >img {
                    height: 26px;
                    width: auto;
                    cursor: pointer;
                    padding: 10px 5px;
                    margin-right: 10px;

                    &:hover {
                        filter: hue-rotate(90deg);
                    }
                }
            }
        } 
        .mobile-nav {
            background-color: #f2cad8;
            border: none;
            cursor: pointer;
            
            @media (min-width: 801px) {
                display: none;
            }
        }
    }
}