.socials {
    @media (max-width: 800px) {
        display: none;
    }
    >a {
        
        &:hover {
            opacity: 0.5;
        }
        >img {
            height: 26px;
            width: auto;
            cursor: pointer;
            padding: 10px 5px;
            margin-right: 10px;

            &:hover {
                filter: hue-rotate(90deg);
            }
        }
    }
} 