main {
    .main {
        display: flex;
    
        >div {
            height: 80px;
            width: 100%;

            >img {
                animation-duration: 1s;
                animation-name: heartmotion;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: linear;

                // animation: 1s infinite alternate heartmotion linear;
                
                height: 36px;
                width: auto;

                
                @keyframes heartmotion {
                    from {
                    transform: translateY(20px);
                    }

                    to {
                        transform: translateY(0px);
                    }
                }
            }
    }   }
}